html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container-fluid {
    background-color: rgba(255, 255, 255, 0);
}

.collapse {
    margin-left: 35%;
    font-size: 20px;
    font-weight: 500;
}

.collapse li {
    margin-left: 3%;
}

/* #main-box {
    width: 1920px;
    height: 960px;
    border-radius: 0% 0% 25% 0%;
    background-color: rgb(192, 227, 252);
  } */

  /* ========== container ====================================================== */

#main-box {
    width: 960px;
    height: 958.5px;
    float: right;
    /* border-radius: 10% 0% 50% 50%/0% 30% 30% 30%; */
    background-color: rgb(221, 244, 252);
    /* background-color: rgba(0, 255, 170, 0.733); */
    /* background-color: rgba(74, 252, 192, 0.733); */
}

#container {
    position: relative;
    background-color: rgb(247, 249, 255);
    height: 958.5px;
}

#circle img {
  
    width: 620px;
    height: 620px;
    border-radius: 620%;
    background-color: azure;
    margin-top: -50%;
    margin-left: 53%;
    position: relative; /* Set to relative for absolute positioning */
}

.box-1 {
    width: 200px;
    height: 120px;
    border-radius: 10px;
    background-color: rgba(55, 125, 255, 0.507);
    position: absolute;
    top: 30%;
    left: 52%;
    color: rgb(55, 125, 255);
    text-align: center;
    font-size: 32px;
    font-family: "Itim", cursive;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease; /* Smooth transition for transform */
}

.box-1:hover {
   transform: translate(-50%, -50%) scale(1.1); /* Scale up on hover */
}

.box-1 img{
 width: 55px;
}

.box-2 {
    width: 290px;
    height: 120px;
    border-radius: 10px;
    background-color: rgba(157, 187, 243, 0.507);
    position: absolute;
    top: 32%;
    left:88%;
    transform: translate(-50%, -50%);
    color: rgb(87, 87, 87);
    text-align: center;
    font-size: 32px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    font-family: "Itim", cursive;
    transition: transform 0.3s ease; 
}


.box-2:hover {
    transform: translate(-50%, -50%) scale(1.1); /* Scale up on hover */
 }
 

.box-3 {
    width: 200px;
    height: 190px;
    border-radius: 10px;
    background-color: rgba(139, 185, 255, 0.63);
    position: absolute;
    top: 68%;
    left: 52%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
}


.box-3:hover {
    transform: translate(-50%, -50%) scale(1.1); /* Scale up on hover */
 }
 

.name-text {
    position: absolute;
    top: 39%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.name-text h4 {
    font-size: 40px;
}

.name-text h1 {
    font-size: 80px;
    font-family: "Concert One", sans-serif;
}

/* .name-text h2{
    font-size: 85px;
    font-family: "Rubik Doodle Shadow", system-ui;
} */

.body-text{
    position: absolute;
    top: 60%;
    left: 21.1%;
    transform: translate(-50%, -50%);
}

.body-text h1{
    font-size: 30px;
}

.body-text p{
    font-size: 20px;
    width: 400px;
}

#container button{

    margin-top: -27%;
    margin-left: 8.5%;
    font-size: 22px;
}


/* ===== social-medias   ========= */


#social-medias {
    position: fixed;
    float: left;
    width: 70px;
    height: 350px;
    border: solid  rgb(115, 218, 252) 2px;
    border-radius: 200px;
    background-color: #ffffff 5%;
    margin-left: 1%;
    margin-top: -35%;
}


#social-medias .fa-brands  {
    margin-top: 30px;
    margin-left: 32%;
    font-size: 25px;
    color: #000000;
}


/*  ------- about me =-------------------- */

#about-me{
    margin-left: 50%;
    margin-top: 5%;
}

.paragraf p{
   margin-top: 5%;
   width: 700px;
   font-size: 20px;
}

/* .aboutme-table{
    margin-top: 5%;
    width: 700px;
}

.aboutme-table h4{
    margin-left: 92%;
} */

.aboutme-table {
    margin-top: 5%;
    width: 700px;
}

.progress {
    height: 25px;
    margin-bottom: 20px;
    overflow: hidden; /* Hide overflowing content from progress bars */
}

.progress-bar {
    height: 100%;
    width: 0;
    transition: width 2s ease-in-out; /* Animation duration and easing */
}


/* =============== servises ======================================= */

#servises{
  margin-top: 10%;
  background-color: #f5f5f5;
  height: 700px;
}

#servise-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5%;
    margin-left: 22%;
    gap: 8%;
    width: 60%;
   
}

#servise-cards .card {
    transition: transform 0.7s ease; 
}

#servise-cards .card:hover {
    transform: scale(1.1); /* Scale up on hover */
    background-color: #7ea7ff;
    color: #ffffff;
}


#servises h3{
    text-align: center;
    color: rgb(93, 158, 255);
}

#servises h1{
    text-align: center;
}

#servises .card .circle{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    background-color: #7ea7ff;
   
}

#servises .card .circle i{
    font-size: 40px;
    margin-left: 17%;
    margin-top: 19%;
}

#servises .card .card-title{
    margin-top: 5%;
}

#servises .card .card-text{
    margin-top: 5%;
}

/* ============= dash board ==================================== */

@keyframes count-up {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#dashboard{
    display: flex;
    margin-left: 300px;
    margin-top: 150px;
}

#plus {
    margin-left: 50%;
    font-size: 25px;
    color: #3273ff;
    position: relative; 
    top: -39px; 
}


#icon{
    font-size: 90px;
    width: 370px;
   
}

.dashboard-text h3{
   margin-left: 35%;
   margin-top: -25%;
   font-size: 35px;
   color: #0f5bff;
}

.dashboard-text h4{
    margin-left: 35%;
    margin-top: -7%;
    font-size: 15px;
 
 }

 .dashboard-text h5{

    margin-left: 35%;
    font-size: 15px;
   
 }

@keyframes count-up {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*  ========= projects ================================ */

#projects {
    background-color: #f3f6fd;
    height: 920px;
}


#projects h4{
    margin-top: 8%;
    color: #4e86ff;
    text-align: center;
}

#projects h1{
    
    /* margin-left: 11%; */
    text-align: center;
}

#projrct-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin-left: 13%;
    margin-top: 4%;
    text-align: center;
    cursor: pointer;
}

#projects button {
    margin-top: 3%;
    margin-left: 47%;
}

/* ====================================================== */



#choise-servise{
    margin-top: 7%;
}
